* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  
  .navbar-inner li {
    line-height: 40px;
    letter-spacing: 2px;
  }
  
  .nav-link {
    border-top: 4px solid white;
    transition: border-top .3s;
    margin-right: 30px;
  }
  .nav-link:hover {
    border-top: 4px solid dodgerblue;
  }
  li{
    padding-right: 25px;
  }
  