<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Add User</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <div class="form-group">
                  <label>Tz</label>
                  <input type="password" formControlName="tz" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tz.errors }"
                  />
                  <div *ngIf="submitted && f.tz.errors" class="invalid-feedback">
                    <div *ngIf="f.tz.errors.required">Tz is required</div>
                    <div *ngIf="f.tz.errors.minlength">Tz must be at least 8 characters</div>
                    <div *ngIf="f.tz.errors.validTz">Tz not legal</div>
                  </div>
                </div>
      
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
              <div *ngIf="f.name.errors.minlength">Name must be more 3 characters</div>
              <div *ngIf="f.name.errors.maxlength">Name must be less 15 characters</div>
            </div>
          </div>
         
          <div class="form-group">
            <label>Age</label>
            <input type="text" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
            <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
              <div *ngIf="f.age.errors.required">Age is required</div>
              <div *ngIf="f.age.errors.validAge">Age must be between 0 to 120</div>
            </div>
          </div>

          <div class="form-group">
            <label>Male</label>
            <input type="checkbox"  class="form-control" formControlName="male"/>
            <!-- formControlName="male" -->
            <!-- [ngClass]="{ 'is-invalid': submitted && f.male.errors }" -->
            <!-- <div *ngIf="submitted && f.male.errors" class="invalid-feedback"> -->
              <!-- <div *ngIf="f.male.errors.required">Male is required</div> -->
            <!-- </div> -->
          </div> 


          <div class="form-group">
            <label>Country</label>
            <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
            />
            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
              <div *ngIf="f.country.errors.required">Country is required</div>
              <div *ngIf="f.country.errors.validCountry">Country not suitable</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>